{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="{% static 'css/projects.css' %}"/>
{% endblock %}

{% block body %}
    <script>
        let project_pk = {{ ews_project.pk }};
    </script>
    <div class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col-12" style="background-color: var(--main-color-lgrey2)">
                <h2 style="margin: 1rem;">{{ ews_project.user_project_name }}</h2>
                <a class="navbar-brand back-to-projects" href="{% url 'projects' status='all' %}">
                    <i class="fas fa-arrow-left"></i>
                    Projects Overview
                </a>
                <nav class="projects navbar navbar-light bg-light float-right">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2"
                               style="margin-bottom: 0.5rem; border-radius: 19px;"
                               type="search" placeholder="Search missions" aria-label="Search"
                               id="search-project-table">
                    </form>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="float-left">
{#                    <button class="btn btn-primary" type="button" style="margin: 15px 0.5rem 15px 0"#}
{#                            value="Refresh Page"#}
{#                            onClick="reload_table()"><img alt="refresh website"#}
{#                                                          src="{% static 'img/refresh-page-option.svg' %}"#}
{#                                                          width="20"/>#}
{#                    </button>#}

                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="margin: 15px 0.5rem 15px 0">
                        Reset by State
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for state in states %}
                            <a class="dropdown-item reset-by-state" href="" data-state="{{ state }}"
                               data-ews-name="{{ ews_project.ews_name }}"
                               data-project-pk="{{ ews_project.pk }}">{{ state|title }}</a>
                        {% endfor %}
                    </div>

                    {% if ews_project.automatic_mode %}
                        <input id="ews-mode" class="form-check-input" type="checkbox" data-toggle="toggle" checked>
                        <!-- disabled> -->
                    {% else %}
                        <input id="ews-mode" class="form-check-input" type="checkbox" data-toggle="toggle">
                        <!-- disabled> -->
                    {% endif %}
                    <label for="ews-mode" class="form-check-label">Automatic mode</label>
                </div>
                <div class="float-right">
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown-settings"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                style="margin: 15px 0.5rem 15px 0">
                            <i class="fas fa-sliders-h"></i> Settings
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdown-settings">
                            <a class="dropdown-item"
                               href="{% url 'config-pk' project_pk=ews_project.pk config_pk=config_pk %}">Workflow</a>
                            <a class="dropdown-item"
                               href="{% url 'masking-pk' project_pk=ews_project.pk masking_pk=masking_pk %}">Masking</a>
                        </div>
                    </div>

                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown-download"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                style="margin: 15px 0">
                            <i class="fas fa-download"></i> Download
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdown-download">
                            <a class="dropdown-item" href="{% url 'project-download' project_pk=ews_project.pk %}">Raw
                                Data</a>
                            <a class="dropdown-item"
                               href="{% url 'project-download-status' project_pk=ews_project.pk %}">Status</a>
                            <a class="dropdown-item"
                               href="{% url 'project-download-final' project_pk=ews_project.pk %}">Results</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row" style="margin-bottom: 2rem">
            <div class="col-12">
                <table id="mission-table" class="table table-striped hover" style="width:100%">
                    <thead>
                    <tr>
                        <th>Ident</th>
                        <th>Datetime (UTC)</th>
                        <th>State</th>
                        <th>Progress</th>
                        <th>Description</th>
                        <th>Time Elapsed</th>
                        <th>Last Change</th>
                        <th>menu</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Ident</th>
                        <th>Datetime (UTC)</th>
                        <th>State</th>
                        <th>Progress</th>
                        <th>Description</th>
                        <th>Time Elapsed</th>
                        <th>Last Change</th>
                        <th>menu</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <script>
        let table = $('#mission-table').DataTable({
            "lengthChange": false,
            "scrollX": true,
            "searching": true,
            "dom": 't<"bottom"pi>',
            "ajax": {
                "url": "/api/project/" + project_pk + "/",
                "dataSrc": "",
                "deferRender": true
            },
            "columns": [
                {"data": "ident"},
                {"data": "get_scene_datetime"},
                {
                    "data": "state", render: function (data, type, row) {
                        let html;
                        if (data === "running") {
                            html = "<span class=\"state-dot\" style=\"background-color: #28a745\"></span>" + data
                        } else if (data === "failed") {
                            html = "<span class=\"state-dot\" style=\"background-color: #dc3545\"></span>" + data
                        } else {
                            html = "<span class=\"state-dot\"></span>" + data
                        }
                        return html
                    }
                },
                {
                    "data": "status_percentage", render: function (data, type, row) {
                        let html = "<div class=\"progress\" style=\"width: 100px;\">\n" +
                            "                                    <div class=\"progress-bar\" role=\"progressbar\"\n" +
                            "                                         style=\"width: " + data + "%\" aria-valuenow=\"100\"\n" +
                            "                                         aria-valuemin=\"0\" aria-valuemax=\"" + data + "\"></div>\n" +
                            "                                </div> " + data + " %";
                        return html
                    }
                },
                {"data": "actiondescription"},
                {"data": "time_elapsed"},
                {"data": "actiondatetime"},
                {
                    "data": "pk", render: function (data, type, row) {
                        let html = "<a href=\"#\" class=\"dots\">\n" +
                            "                                    <div class=\"menu-mission\" data-ews-id=\"" + data + "\"\n" +
                            "                                         data-ews-state=\"" + row.state + "\"\n" +
                            "                                         style=\"width: 50px; height: 30px; position: relative\">\n" +
                            "                                        <div class=\"dot\"></div>\n" +
                            "                                    </div>\n" +
                            "                                </a>";
                        return html
                    }
                }
            ]
        });

        function reload_table() {
            table.ajax.reload(null, false)
        }

        $('#search-project-table').keyup(function () {
            table.search($(this).val()).draw();
        });

        $('#search-project-table').wrap('<span class="deleteicon" />').after($('<span/>').click(function () {
            $(this).prev('input').val('').trigger('change').focus();
            table.search("").draw();
        }));

        $('#ews-mode').change(function () {
            let automatic = $(this).prop('checked');
            axios.get("{% url 'automatic-mode' project_pk=ews_project.pk %}", {
                params: {
                    automatic: automatic
                }
            }).then(function (response) {
                if (response.data.status === false) {
                    Swal.fire({
                        type: 'error',
                        title: 'Not enough CPU cores left!',
                        text: "Reduce number of cores for this project or stop other missions."
                    });
                    $('#ews-mode').bootstrapToggle('off')
                } else {
                    if (automatic) {
                        $(".menu-mission").each(function () {
                            if (!["failed", "stopped"].includes($(this).data("ews-state"))) {
                                $(this).hide()
                            }
                        });
                        automatic.prop("disabled", true);
                        setTimeout(function () {
                            automatic.prop('disabled', false);
                        }, 5000);
                    } else {
                        $(".menu-mission").show();
                    }
                    setTimeout(function () {
                        location.reload();
                    }, 1000);

                }
            })
        });

        if ($('#ews-mode').prop("checked")) {
            $(".menu-mission").each(function () {
                if (!["failed", "stopped"].includes($(this).data("ews-state"))) {
                    $(this).hide()
                }
            })
        } else {
            $(".menu-mission").show();
        }

        // Relaod table every 5 seconds
        setInterval(function () {
            if (!$('.menu-mission').is(":hover")){
                table.ajax.reload(null, false);
                console.log("update")
            }
        }, 5000);
    </script>
    <script src="{% static 'js/single_project.js' %}"></script>
{% endblock %}