# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

*settings.py

.idea/git commit -m "Removed folder from repository"

.env
media/
missions/migrations/0001_initial.py
missions/migrations/0002_auto_20190206_1806.py
node_modules/bootstrap-datepicker/CHANGELOG.md
node_modules/bootstrap-datepicker/LICENSE
node_modules/bootstrap-datepicker/README.md
node_modules/bootstrap-datepicker/js/
node_modules/bootstrap-datepicker/less/
node_modules/bootstrap-datepicker/package.json
node_modules/jquery-contextmenu/CHANGELOG.md
node_modules/jquery-contextmenu/LICENSE
node_modules/jquery-contextmenu/README.md
node_modules/jquery-contextmenu/package.json
node_modules/jquery-contextmenu/src/
node_modules/jquery/AUTHORS.txt
node_modules/jquery/LICENSE.txt
node_modules/jquery/README.md
node_modules/jquery/bower.json
node_modules/jquery/external/sizzle/LICENSE.txt
node_modules/jquery/package.json
node_modules/jquery/src/.eslintrc.json
node_modules/jquery/src/ajax.js
node_modules/jquery/src/ajax/jsonp.js
node_modules/jquery/src/ajax/load.js
node_modules/jquery/src/ajax/parseXML.js
node_modules/jquery/src/ajax/script.js
node_modules/jquery/src/ajax/xhr.js
node_modules/jquery/src/attributes.js
node_modules/jquery/src/attributes/
node_modules/jquery/src/callbacks.js
node_modules/jquery/src/core.js
node_modules/jquery/src/core/DOMEval.js
node_modules/jquery/src/core/access.js
node_modules/jquery/src/core/camelCase.js
node_modules/jquery/src/core/init.js
node_modules/jquery/src/core/nodeName.js
node_modules/jquery/src/core/parseHTML.js
node_modules/jquery/src/core/ready-no-deferred.js
node_modules/jquery/src/core/ready.js
node_modules/jquery/src/core/readyException.js
node_modules/jquery/src/core/stripAndCollapse.js
node_modules/jquery/src/core/support.js
node_modules/jquery/src/core/toType.js
node_modules/jquery/src/css.js
node_modules/jquery/src/css/addGetHookIf.js
node_modules/jquery/src/css/adjustCSS.js
node_modules/jquery/src/css/curCSS.js
node_modules/jquery/src/css/hiddenVisibleSelectors.js
node_modules/jquery/src/css/showHide.js
node_modules/jquery/src/css/support.js
node_modules/jquery/src/data.js
node_modules/jquery/src/data/Data.js
node_modules/jquery/src/deferred.js
node_modules/jquery/src/deferred/
node_modules/jquery/src/deprecated.js
node_modules/jquery/src/dimensions.js
node_modules/jquery/src/effects.js
node_modules/jquery/src/effects/
node_modules/jquery/src/event.js
node_modules/jquery/src/event/
node_modules/jquery/src/exports/
node_modules/jquery/src/jquery.js
node_modules/jquery/src/manipulation.js
node_modules/jquery/src/manipulation/_evalUrl.js
node_modules/jquery/src/manipulation/buildFragment.js
node_modules/jquery/src/manipulation/getAll.js
node_modules/jquery/src/manipulation/setGlobalEval.js
node_modules/jquery/src/manipulation/support.js
node_modules/jquery/src/manipulation/wrapMap.js
node_modules/jquery/src/offset.js
node_modules/jquery/src/queue.js
node_modules/jquery/src/queue/
node_modules/jquery/src/selector-native.js
node_modules/jquery/src/selector-sizzle.js
node_modules/jquery/src/selector.js
node_modules/jquery/src/serialize.js
node_modules/jquery/src/traversing.js
node_modules/jquery/src/traversing/findFilter.js
node_modules/jquery/src/wrap.js
node_modules/leaflet-geosearch/LICENSE
node_modules/leaflet-geosearch/assets/
node_modules/leaflet-geosearch/package.json
node_modules/leaflet-geosearch/readme.md
node_modules/lodash.debounce/
node_modules/nodent-runtime/LICENSE
node_modules/nodent-runtime/build.js
node_modules/nodent-runtime/package.json
node_modules/nodent-runtime/promise.js
node_modules/nodent-runtime/runtime.js
node_modules/nodent-runtime/tests/
node_modules/nodent-runtime/thenable.js
node_modules/nodent-runtime/thenableFactory.js
node_modules/nodent-runtime/zousan.js
package-lock.json
