{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>

    <link rel="stylesheet" href="{% static 'css/download.css' %}"/>

    <link rel="stylesheet" href="{% static 'css/leaflet_geosearch.css' %}"/>

    <link href="{% static 'css/leaflet_geosearch.css' %}" rel="stylesheet"/>
    <script src="{% static 'leaflet-geosearch/dist/bundle.min.js' %}"></script>
{% endblock %}


{% block body %}
    <a href="{% url 'portal' sensor=project.slug %}" class="btn btn-primary" style="margin: 1rem">Back to portal</a>
    <div class="container main-settings-window">
        <h5>1. Choose scenes for download</h5>
        <div id="map">
        </div>
        <h5 style="padding-top: 1rem">2. Choose your daterange</h5>
        <div class="input-group mb-3">
            <input type="text" class="form-control daterange" placeholder="" aria-label="" aria-describedby="basic-addon1">
        </div>
        <h5 style="padding-top: 1rem">3. </h5>

    </div>
    <script>
        {% autoescape off %}
            var geodata = {{ geodata }};
        {% endautoescape %}
    </script>
{% endblock %}


{% block js %}
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js"
            integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g=="
            crossorigin=""></script>

    <script src="{% static 'js/download.js ' %}"></script>
{% endblock %}