{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="container main-settings-window">
        <ul class="nav nav-tabs">
            {% for project in projects %}
                {% if project == actual_project %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'portal' project_pk=project.pk %}">{{ project }}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'portal' project_pk=project.pk %}">{{ project }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="tab-window">
            <div class="container" style="height: 100%;">
                <div class="row">
                    <div class="col-lg-12" style="margin: 0.5rem 0;">
                        <a class="btn btn-primary" href="{% url 'portal' project_pk=actual_project.pk %}" role="button">Update</a>
                        <a class="btn btn-primary float-right" href="{% url 'config' project_pk=actual_project.pk %}"
                           role="button">Config</a>
                    </div>
                </div>
                <div class="table-wrapper-scroll-y">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Nr.</th>
                            <th scope="col">Identifier</th>
                            <th scope="col">JDay</th>
                            <th scope="col">Create Date</th>
                            <th scope="col">Create Time</th>
                            <th scope="col">State</th>
                            <th scope="col">Action No.</th>
                            <th scope="col">Action Name</th>
                            <th scope="col">Last Change</th>
                            <th scope="col">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for scene in scenes %}
                            <tr class="context-menu-one">
                                <td>{{ scene.0 }}</td>
                                <td>{{ scene.1 }}</td>
                                <td>{{ scene.2 }}</td>
                                <td>{{ scene.3 }}</td>
                                <td>{{ scene.4 }}</td>
                                <td>{{ scene.5 }}</td>
                                <td>{{ scene.6 }}</td>
                                <td>{{ scene.7 }}</td>
                                <td>{{ scene.8 }}</td>
                                <td>{{ scene.9 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row bottom-row">
                    <div class="col-lg-12" style="margin: 1rem 0;">
                        <a class="btn btn-primary float-right" href="{% url 'download' project_pk=actual_project.pk %}">Download
                            Data</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
