:root{
    --main-color-dblue: #1D4180;
    --main-color-lblue: #40ADD5;
    --main-color-lblue-shadow: #3882a8;
    --main-color-dgrey: #4B4B4D;
    --main-color-lgrey: #F2F2F2;
    --main-color-lgrey2: #f8f9fa;

    --main-color-seaflorr: #02A89F;
    --main-color-water: #3DADD9;
    --main-color-software: #146FB2;
    --main-color-service: #2E4083;

    --main-color-orange: #F6A124;
    --main-color-orangel: rgba(245,163,37, 0.75);
    --main-color-orangell: rgba(245,163,37, 0.5);
}

