{% extends 'base.html' %}
{% load static %}


{% block css %}
{% endblock %}

{% block body %}
    <div class="container main-settings-window" style="margin-top: 50px">
        <div class="row">
            <div class="col-sm" style="background-color: var(--main-color-lgrey2)">
                <h2 style="margin: 1rem;">Download Status</h2>
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px">
            <div class="col-sm" style="background-color: var(--main-color-lgrey2)">
                <a class="navbar-brand back-to-projects" href="{% url 'project' project_pk=project_pk %}">
                    <i class="fas fa-arrow-left"></i>
                    Back to project
                </a>
                <div class="float-right back-to-projects">
                    <div class="radio" data-name="single">
                        <label><input type="radio" name="opt" data-name="single" checked> Single Downloads</label>
                    </div>
                    <div class="radio" data-name="continuous">
                        <label><input type="radio" name="opt" data-name="continuous"> Continuous Downloads</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="download-entries">
        </div>
    </div>
    <script>
    let name = $("input[name='opt']:checked").data("name");
    load_data(name);

    $(".radio").change(function () {
        let name = $(this).data("name");
        load_data(name)
    });

    function load_data(name) {
        if (name === "continuous") {
            axios.get("{% url 'project-download-continuous' project_pk=project_pk %}").then(response => {
                $(".download-entries").replaceWith(response.data);
                console.log(response.data)
            });
        }
        else {
            axios.get("{% url 'project-download-single' project_pk=project_pk %}").then(response => {
                $(".download-entries").replaceWith(response.data);
            });
        }
    }
    </script>
{% endblock body %}
