{% extends 'base.html' %}
{% load static %}


{% block css %}
{% endblock %}

{% block body %}
    <div class="container main-settings-window" style="margin-top: 50px">
        <div class="row">
            <div class="col-sm" style="background-color: var(--main-color-lgrey2)">
                <h2 style="margin: 1rem;">Download Status</h2>
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px">
            <div class="col-sm" style="background-color: var(--main-color-lgrey2)">
                <a class="navbar-brand back-to-projects" href="{% url 'project' project_pk=project_pk %}">
                    <i class="fas fa-arrow-left"></i>
                    Back to project
                </a>
            </div>
        </div>
        {% for key, element in results.items %}
            <div class="status-entry card-3">
                <div class="status-heading">
                    <div class="row" style="padding: 1rem">
                        <div class="col-12" style="padding: 0 1rem;">
                            <h5>{{ key.creation_datetime }}</h5>
                        </div>
                        <div class="col-sm-6" style="padding: 0 1rem;">
                            Start date: {{ key.start_date }}<br>
                            End date: {{ key.end_date }}<br>
                            Max. Cloud cover: {{ key.cloud_cover }} %<br>
                        </div>
                        <div class="col-sm-6" style="padding: 0 1rem;">
                            Coordinates (ulx, uly, lrx,
                            lry):<br>{{ key.ulx }}, {{ key.uly }},<br> {{ key.lrx }}, {{ key.lry }}
                        </div>
                    </div>
                </div>
                <div class="status-content">
                    <table id="" class="table table-striped hover downloads" style="width:100%">
                        <thead>
                        <tr>
                            <th>Filename</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for download in element %}
                            <tr class="project-row">
                                <td>{{ download.filename }}</td>
                                <td>{{ download.download_state }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        $(document).ready(function () {
            let tables = $('table.downloads').DataTable({
                "scrollX": true
            });
        });
    </script>
{% endblock body %}
