<div class="download-entries">
    {% if results|length > 0 %}
        {% for key, element in results.items %}
            <div class="status-entry card-3">
                <div class="status-heading">
                    <div class="row" style="padding: 1rem">
                        <div class="col-sm-6" style="padding: 0 1rem;">
                            <h5>{{ key.creation_datetime }}</h5>
                        </div>
                        <div class="col-sm-6" style="padding: 0 1rem 1rem 1rem;">
                            <button class="btn btn-primary cancel-raw-download" type="button" style="float: right"
                                    data-download-id="{{ key.pk }}"><i class="fa fa-trash"></i> Cancel Download
                            </button>
                        </div>
                        <div class="col-sm-6" style="padding: 0 1rem;">
                            Start date: {{ key.start_date }}<br>
                            End date: {{ key.end_date }}<br>
                            Max. Cloud cover: {{ key.cloud_cover }} %<br>
                        </div>
                        <div class="col-sm-6" style="padding: 0 1rem;">
                            Coordinates (ulx, uly, lrx,
                            lry):<br>{{ key.ulx }}, {{ key.uly }},<br> {{ key.lrx }}, {{ key.lry }}
                        </div>
                    </div>
                </div>
                <div class="status-content">
                    <table id="" class="table table-striped hover downloads" style="width:100%">
                        <thead>
                        <tr>
                            <th>Filename</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for download in element %}
                            <tr class="project-row">
                                <td>{{ download.filename }}</td>
                                <td>{{ download.download_state }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
        <script>
            $(document).ready(function () {
                let tables = $('table.downloads').DataTable({
                    "scrollX": true
                });
            });

            $(".cancel-raw-download").click(function () {
                let $this = $(this);
                let download_query_id = $this.data("download-id");
                axios.post('{% url "project-download-cancel" project_pk=project_pk %}', {
                    download_query_id: download_query_id
                }).then(function (response) {
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                })
            })
        </script>
    {% else %}
        <div class="row">
            <div class="col-sm">
                <h4 style="margin: 1rem;">No single downloads available!</h4>
            </div>
        </div>
    {% endif %}
</div>